.courses-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .course-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .course {
    background-color: var(--navbar-bg);
    border-radius: 8px;
    padding: 20px;
    transition: transform 0.3s ease;
  }
  
  .course:hover {
    transform: translateY(-5px);
  }
  
  .course h2 {
    font-size: 1.5rem;
    color: var(--h1-text-color);
    margin-bottom: 10px;
  }
  
  .course p {
    font-size: 1rem;
    color: var(--text-color);
  }
  